@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #427D9D;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: bolder;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .user-type {
  margin-top: 20px;
}

.user-type h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.user-option, .user) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .user {
  column-gap: 5px;
}

.user input {
  accent-color: #427D9D;
}

.form :where(.user input, .user label) {
  cursor: pointer;
}

.user label {
  color: #707070;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

#submit {
  height: 55px;
  width: 80%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #427D9D;
  margin-bottom: 15px;
  justify-content: center;
  margin-right: 10px;
}

#submit:hover {
  background: #164863;
}

#cancel {
  height: 55px;
  width: 80%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(151, 151, 151);
  margin-bottom: 15px;
  justify-content: center;
  margin-right: 10px;
}

#cancel:hover {
  background: rgb(105, 105, 105);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button,
.buttons a {
  flex: 1;
  margin-right: 10px; /* Adjust as needed for spacing between buttons */
  text-align: center; /* Center text within the buttons */
  text-decoration: none; /* Remove default underline for links */
  color: #333; /* Set text color */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #333; /* Add a border for a button-like appearance */
  display: flex;
  align-items: center;
  justify-content: center;
}

#labels {
  font-weight: 900;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.user-option, .user) {
    row-gap: 15px;
  }
}
